@import '../../styles/cards';

app-products {
  display: block;

  .open-form-btn {
    margin-bottom: 8px;
  }

  .card {
    margin-bottom: 8px;
    .item-label {
      font-weight: bold;
    }
  }
}
