<div *ngFor="let item of products" class="card">
  <h5 class="card-header">Уникальный номер: {{ item.id }}</h5>
  <div class="card-body">
    <h5 class="card-title">
      <a routerLink="/products/{{ item.id }}">{{ item.name }}</a>
    </h5>
    <p class="card-text">
      <span class="item-label">Команда:</span> {{ item.teamId }} <br /><span
        class="item-label"
        >Статус:</span
      >
      {{ item.status }}
    </p>
    <a routerLink="/products/bind:team" class="btn btn-outline-primary">
      <i class="bi bi-share"></i> Связать с командой
    </a>
  </div>
</div>
