<div class="card">
  <div class="card-body">
    <div class="info-zone">
      <h5 class="card-title">
        <a routerLink="/projects/{{ item.id }}">{{ item.nameRus }}</a>
      </h5>
      <div>
        <span class="item-label">Статус:</span> {{ item.status }} <br /><span
          class="item-label"
          >Домен:</span
        >
        {{ item.domainId }} <br /><span class="item-label">Отдел:</span>
        {{ item.costCenter }} <br /><span class="item-label">Тип команды:</span>
        {{ item.teamType }}
      </div>
      <!--Change router link defenition-->
      <div class="row actions">
        <a routerLink="/projects/bind:team" class="btn btn-outline-primary">
          <i class="bi bi-share"></i> Редактировать связи
        </a>
        <a routerLink="" class="btn btn-outline-primary">
          <i class="bi bi-three-dots-vertical"></i> Подробнее
        </a>
      </div>
    </div>
    <div class="photo-zone">
      <i class="bi bi-person-square"></i>
    </div>
  </div>
</div>
