<div *ngFor="let item of employees" class="card">
  <h5 class="card-header">ldap: {{ item.ldap }}</h5>
  <div class="card-body">
    <h5 class="card-title">
      <a routerLink="/employees/{{ item.ldap }}">{{ item.userName }}</a>
    </h5>
    <p class="card-text">
      <span class="item-label">Организация:</span> {{ item.organisation }}
      <br /><span class="item-label">Отдел:</span> {{ item.costCenter }}
      <br /><span class="item-label">Должность:</span> {{ item.businessRole }}
    </p>
    <a
      routerLink="/teams/bind:employee-{{item.ldap}}"
      class="btn btn-outline-primary"
    >
      <i class="bi bi-share"></i> Привязать команду
    </a>
  </div>
</div>
