app-home {
  h4 {
    margin-bottom: 10px;
  }
  display: block;
  .card-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
      height: 10%;
    }
  }
  .card {
    min-height: 220px;
    margin-bottom: 16px;
  }

  .project-info {
    max-width: 700px;
  }
  img {
    width: 40%;
  }
  .db-image {
    width: 20%;
  }
}
