<form (submit)="login()">
  <input
    [(ngModel)]="username"
    class="form-control"
    placeholder="Введите логин"
    name="username"
    type="username"
    autofocus
  />
  <input
    [(ngModel)]="password"
    class="form-control"
    name="password"
    type="password"
    placeholder="Введите пароль"
  />
  <button type="submit" class="btn btn-primary btn-block">Отправить</button>
  <div *ngIf="failed" class="alert alert-danger" role="alert">
    Неправильная связка логин / пароль
  </div>
</form>
