<div class="row justify-content-center">
  <div class="col-lg-6 view-container">
    <div class="row d-flex main-info">
      <div class="col-8 personal">
        <div class="photo-zone">
          <i class="bi bi-person-square"></i>
        </div>
        <div class="info-zone">
          <h5 class="card-title">
            <a>{{ employee.userName }}</a>
          </h5>
          <div>
            <span class="item-label">Организация: </span
            >{{ employee.organisation }} <br /><span class="item-label"
              >Отдел: </span
            >{{ employee.costCenter }} <br /><span class="item-label"
              >Должность: </span
            >{{ employee.businessRole }}
          </div>
        </div>
      </div>
      <div class="contacts-zone">
        <a href="">Workplace</a>
        <a href="">Exchange</a>
        <a href="">Slack</a>
        <a href="">Telegram</a>
      </div>
    </div>
    <app-filters
      searchPlaceholder="Поиск ilike по имени или = по id"
      [hasDomainFilter]="true"
      (onSubmit)="onSearch($event)"
    ></app-filters>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Команды</a>
        <ng-template ngbNavContent>
          <div *ngFor="let item of teams" class="d-flex item-row row">
            <p class="name col-6">{{ item.nameRus }}</p>
            <input type="text" placeholder="Описание связи" class="col-4" />
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="bindTeam(item)"
            >
              Установить связь
            </button>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Проекты</a>
        <ng-template ngbNavContent>
          <div *ngFor="let item of projects" class="d-flex item-row row">
            <p class="name col-6">{{ item.name }}</p>
            <input type="text" placeholder="Описание связи" class="col-4" />
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="bindProject(item)"
            >
              Установить связь
            </button>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Продукты</a>
        <ng-template ngbNavContent>
          <div *ngFor="let item of products" class="d-flex item-row row">
            <p class="name col-6">{{ item.name }}</p>
            <input type="text" placeholder="Описание связи" class="col-4" />
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="bindProduct(item)"
            >
              Установить связь
            </button>
          </div>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Домены</a>
        <ng-template ngbNavContent>
          <div *ngFor="let item of domains" class="d-flex item-row row">
            <p class="name col-6">{{ item.nameRus }}</p>
            <input type="text" placeholder="Описание связи" class="col-4" />
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="bindDomain(item)"
            >
              Установить связь
            </button>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
